<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]
  RewriteRule list\/([0-9]+)\.html$ News/index/id/$1 [QSA,PT,L]  
  RewriteRule content/([0-9]+)\.html$ Index/News/content/id/$1 [QSA,PT,L]
</IfModule>