<footer class="footer black-wrapper widget-footer">
<footer class="footer black-wrapper widget-footer">
  
    <div class="sub-footer">
      <div class="container">
        <p class="pull-left">
			<span>公司地址：四川省成都市高新区美年广场2期1703-1704 </span>
			<span>联系电话：028-69686996</span>
			<span>备案号：蜀ICP备12022978号</span>
		</p>
      </div>
    </div>
  </footer>
  <!-- /footer --> 
</div>
<!-- .body-wrapper --> 
<script src="__PUBLIC__/js/jquery.min.js"></script> 
<script src="__PUBLIC__/js/bootstrap.min.js"></script> 
<script src="__PUBLIC__/js/twitter-bootstrap-hover-dropdown.min.js"></script> 
<script src="__PUBLIC__/js/jquery.themepunch.plugins.min.js"></script> 
<script src="__PUBLIC__/js/jquery.themepunch.revolution.min.js"></script> 
<script src="__PUBLIC__/js/jquery.easytabs.min.js"></script> 
<script src="__PUBLIC__/js/owl.carousel.min.js"></script> 
<script src="__PUBLIC__/js/jquery.isotope.min.js"></script> 
<script src="__PUBLIC__/js/jquery.fitvids.js"></script> 
<script src="__PUBLIC__/js/jquery.fancybox.pack.js"></script> 
<script src="__PUBLIC__/js/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.2"></script> 
<script src="__PUBLIC__/js/fancybox/helpers/jquery.fancybox-media.js?v=1.0.0"></script> 
<script src="__PUBLIC__/js/jquery.slickforms.js"></script> 
<script src="__PUBLIC__/js/instafeed.min.js"></script> 
<script src="__PUBLIC__/js/retina.js"></script> 
<script src="__PUBLIC__/js/google-code-prettify/prettify.js"></script> 
<script src="__PUBLIC__/js/scripts.js"></script>
<script src="__PUBLIC__/js/add.js"></script>
<script src="__PUBLIC__/js/jquery.kxbdMarquee.js"></script>