<footer class="footer black-wrapper widget-footer">
<footer class="footer black-wrapper widget-footer">
  
    <div class="sub-footer">
      <div class="container">
        <p class="pull-left">© 2014 Frost. All rights reserved. More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>.</p>
        <!-- <ul class="social pull-right"> -->
          <!-- <li><a href="#"><i class="icon-s-rss"></i></a></li> -->
          <!-- <li><a href="#"><i class="icon-s-twitter"></i></a></li> -->
          <!-- <li><a href="#"><i class="icon-s-facebook"></i></a></li> -->
          <!-- <li><a href="#"><i class="icon-s-dribbble"></i></a></li> -->
          <!-- <li><a href="#"><i class="icon-s-pinterest"></i></a></li> -->
          <!-- <li><a href="#"><i class="icon-s-instagram"></i></a></li> -->
          <!-- <li><a href="#"><i class="icon-s-vimeo"></i></a></li> -->
        <!-- </ul> -->
      </div>
    </div>
  </footer>
  <!-- /footer --> 
</div>
<!-- .body-wrapper --> 
<script src="__PUBLIC__/js/jquery.min.js"></script> 
<script src="__PUBLIC__/js/bootstrap.min.js"></script> 
<script src="__PUBLIC__/js/twitter-bootstrap-hover-dropdown.min.js"></script> 
<script src="__PUBLIC__/js/jquery.themepunch.plugins.min.js"></script> 
<script src="__PUBLIC__/js/jquery.themepunch.revolution.min.js"></script> 
<script src="__PUBLIC__/js/jquery.easytabs.min.js"></script> 
<script src="__PUBLIC__/js/owl.carousel.min.js"></script> 
<script src="__PUBLIC__/js/jquery.isotope.min.js"></script> 
<script src="__PUBLIC__/js/jquery.fitvids.js"></script> 
<script src="__PUBLIC__/js/jquery.fancybox.pack.js"></script> 
<script src="__PUBLIC__/js/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.2"></script> 
<script src="__PUBLIC__/js/fancybox/helpers/jquery.fancybox-media.js?v=1.0.0"></script> 
<script src="__PUBLIC__/js/jquery.slickforms.js"></script> 
<script src="__PUBLIC__/js/instafeed.min.js"></script> 
<script src="__PUBLIC__/js/retina.js"></script> 
<script src="__PUBLIC__/js/google-code-prettify/prettify.js"></script> 
<script src="__PUBLIC__/js/scripts.js"></script>