
  <div class="navbar default">
    <div class="navbar-header">
      <div class="container">
        <div class="basic-wrapper"> <a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a> <a class="navbar-brand" href="index.html"><img src="__PUBLIC__/images/logo.png" alt="" data-src="__PUBLIC__/images/logo.png" data-ret="__PUBLIC__/images/logo@2x.png" class="retina" /></a> </div>
        <nav class="collapse navbar-collapse pull-right">
          <ul class="nav navbar-nav">
            <li><a href="__ROOT__/#home">首页</a></li>
            <li><a href="__ROOT__/#advantage">核心优势</a></li>
            <li><a href="__ROOT__/#introduce">产品介绍</a></li>
            <li><a href="__ROOT__/#about">关于我们</a></li>
            <li><a href="__ROOT__/#cooperation">合作加盟</a></li>
            <li><a href="__ROOT__/#contact">联系我们</a></li>
            <li class="dropdown"><a href="#" class="dropdown-toggle js-activated">相关文献</a>
              <ul class="dropdown-menu">
                <li class="dropdown-submenu"><a href="__ROOT__/News/index/id/9">电销经验</a>
                  <!-- <ul class="dropdown-menu"> -->
                    <!-- <li><a href="blog.html">Medium Image Layout</a></li> -->
                    <!-- <li><a href="blog2.html">Grid Blog</a></li> -->
                    <!-- <li><a href="blog3.html">Grid Blog with Sidebar</a></li> -->
                    <!-- <li><a href="blog4.html">Classic Blog</a></li> -->
                    <!-- <li><a href="blog-post.html">Blog Post</a></li> -->
                  <!-- </ul> -->
                </li>
                <li class="dropdown-submenu"><a href="__ROOT__/News/index/id/11">加盟伙伴</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!--/.nav-collapse --> 
  </div>
  