
  <div class="navbar default">
    <div class="navbar-header">
      <div class="container">
        <div class="basic-wrapper"> <a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse" href="javascript:void(0)"><i class='icon-menu-1'></i></a> <a class="navbar-brand1"  href="javascript:void(0)"><img src="__PUBLIC__/images/logo.jpg" alt="" data-src="__PUBLIC__/images/logo.jpg" data-ret="__PUBLIC__/images/logo.  jpg" class="retina"/></a> </div>
        <nav class="collapse navbar-collapse pull-right">
          <ul class="nav navbar-nav">
            <li><a href="__ROOT__/#home">首页</a></li>
			<li><a href="__ROOT__/#introduce">产品介绍</a></li>
            <li><a href="__ROOT__/#advantage">核心优势</a></li>
            <li><a href="__ROOT__/#cooperation">合作加盟</a></li>
            <li><a href="__ROOT__/#about">关于我们</a></li>
            <li class="dropdown"><a href="#" class="dropdown-toggle js-activated">相关文库</a>
              <ul class="dropdown-menu">
			    <volist name = "dxlist" id="vo">
				<li class="dropdown-submenu"><a href="__ROOT__/list/{$vo.id}.html">{$vo.name}</a>
				</volist>
          
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!--/.nav-collapse --> 
  </div>
  