<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="__PUBLIC__/images/favicon.png">
<title>启点科技</title>
<include file="files" />
</head>
<body>
<div class="body-wrapper">
  <include file="header" />
  <!--/.navbar -->
  <div id="home" class="section">
    <div class="light-wrapper">
      <div class="fullscreenbanner-container revolution">
        <div class="fullscreenbanner">
          <ul>
            <li data-transition="fade"> <img src="__PUBLIC__/images/art/slider-bg1.jpg" alt="" />
              <div class="caption large sfb" data-x="center" data-y="245" data-speed="900" data-start="800" data-easing="Sine.easeOut">专注 电销车险 呼叫系统</div>
              <div class="caption small sfb" data-x="center" data-y="319" data-speed="900" data-start="1500" data-easing="Sine.easeOut">使用客户已遍布全国多个城市</div>
              <div class="caption small sfb" data-x="center" data-y="362" data-speed="900" data-start="2200" data-easing="Sine.easeOut">
                <div class="smooth"><a href="#portfolio" class="btn btn-border">查看系统</a></div>
              </div>
            </li>
            <li data-transition="fade"> <img src="__PUBLIC__/images/art/slider-bg2.jpg" alt="" />
              <div class="caption large customin customout" data-x="center" data-y="255" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="600"
						data-start="700"
						data-easing="Back.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn">呼叫中心一体机</div>
              <div class="caption small customin customout" data-x="center" data-y="329" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="600"
						data-start="1100"
						data-easing="Back.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn">高集成 易扩散 低投入</div>
            </li>
            <li data-transition="fade"> <img src="__PUBLIC__/images/art/slider-bg3.jpg" alt="" />
              <div class="caption large lite sfb" data-x="center" data-y="245" data-speed="900" data-start="800" data-easing="Sine.easeOut">低成本快速部署电销系统</div>
              <div class="caption small lite sfb" data-x="center" data-y="319"  data-speed="900" data-start="1500" data-easing="Sine.easeOut">方便 稳定 易用 智能</div>
              <div class="caption small sfb" data-x="center" data-y="362" data-speed="900" data-start="2200" data-easing="Sine.easeOut">
               <!--<div class="smooth"><a href="#contact" class="btn btn-border-lite">Get in Touch</a></div>-->
              </div>
            </li>
          </ul>
          <div class="tp-bannertimer tp-bottom"></div>
        </div>
        <!-- /.fullscreenbanner --> 
      </div>
      <!-- /.fullscreenbanner-container --> 
    </div>
  </div>
  <div id="services" class="section anchor">
    <div class="light-wrapper">
      <div class="container inner">
        <h2 class="section-title text-center">核心技术优势</h2>
        <p class="lead main text-center">系统安全便利，电话和录音一体，大数据统计管理</p>
        <div class="row text-center services-1">
          <div class="col-sm-3">
            <div class="col-wrapper">
              <div class="icon-wrapper"> <i class="budicon-image"></i> </div>
              <h3>安全可靠</h3>
              <p>Vivamus sagittis lacuson augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum.</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="col-wrapper">
              <div class="icon-wrapper"> <i class="budicon-browser-3"></i> </div>
              <h3>名单管理</h3>
              <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient monte nascetur. </p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="col-wrapper">
              <div class="icon-wrapper"> <i class="budicon-shopping-cart"></i> </div>
              <h3>通话录音</h3>
              <p>Curabitur blandit matti tempus porttitor. Donec id elit non mi porta ut gravida at eget metus. Consectetur adipiscing elit.</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="col-wrapper">
              <div class="icon-wrapper"> <i class="budicon-radio"></i> </div>
              <h3>数据统计</h3>
              <p>Aenean lacinia bibendum consectetur. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio.</p>
            </div>
          </div>
        </div>
        <!-- /.services --> 
        
      </div>
      <!-- /.container --> 
    </div>
  </div>
  <!-- /#home -->
  
  <div class="parallax parallax1">
    <div class="container inner text-center">
      <h1 class="share-button">Click <span class="colored">&</span> Share the Love</h1>
      <div class="share-links">
        <ul>
          <li><a class="btn share-facebook" href="#">Like</a></li>
          <li><a class="btn share-twitter" href="#">Tweet</a></li>
          <li><a class="btn share-pinterest" href="#">Pin it</a></li>
        </ul>
      </div>
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.parallax -->
  
  <div id="portfolio" class="section anchor">
    <div class="dark-wrapper">
      <div class="container inner">
        <h2 class="section-title text-center">产品介绍</h2>
        <p class="lead main text-center">我们致力打造方便、快捷的电销系统，给客户带来最省事省心的服务。</p>
        <div class="grid-portfolio fix-portfolio">
          <ul class="filter">
            <li><a class="active" href="#" data-filter="*">全部</a></li>
			<volist name="cplist" id="vo">
            <li><a href="#" data-filter=".cp{$vo.id}">{$vo.name}</a></li>
			</volist>
          </ul>
          
          <!-- /filter -->
          <ul class="content-slider items">
		  <volist name="cpnews" id="vo">
            <li class="item thumb cp{$vo.item_id}">
              <figure><a href="#" data-contenturl="portfolio-post.html" data-callback="callPortfolioScripts();" data-contentcontainer=".pcw">
                <div class="text-overlay">
                  <div class="info" value="{$vo.id}">{$vo.title}</div>
                </div>
                <img src="__ROOT__{$vo.small_img}" style="max-width:100%;height:auto;overflow:hidden;" alt="" /> </a></figure>
            </li>
			</volist> 
          </ul>
          <!-- /.items --> 
        </div>
        <!-- /.portfolio --> 
      </div>
    </div>
  </div>
  <!-- /#portfolio -->
  
  <div class="parallax parallax2 work-together">
    <div class="container inner text-center">
      <h1>We Create Unique <span class="colored">&</span> Gorgeous Things</h1>
      <div class="divide10"></div>
      <div class="smooth"><a href="#contact" class="btn btn-border-lite">Let's Work Together</a></div>
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.parallax -->
  
  <div id="about" class="section anchor">
    <div class="light-wrapper">
      <div class="container inner">
        <h2 class="section-title text-center">关于我们</h2>
        <p class="lead main text-center">我们秉着不断的技术创新，完善的系统升级，良好的售后服务，随时的疑问指导同客户共发展</p>
        <div class="row">
          <div class="col-sm-8">
            <h2>公司简介</h2>
            <p>成都启点科技有限公司，由从事通信研发近十年的资深技术人员组成，专业从事新一代IP通信产品和企业融合通信系统研发、生产和销售，致力于为政府和企业提供先进、智能的融合通信一体化解决方案。</p>
            <p>我们兼收并蓄通讯技术及企业管理实践经验，立足于自主知识产权产品，是为了满足企事业用户对通讯业务日益多样化、高集成化的需求。目前已开发的产品有：数字程控交换机IPPBX、呼叫中心系统、电话营销CRM、电话会议系统、网络电子传真群发系统、语音催费查询系统等。</p>      
		    <p>目前已成功研发具有自主知识产权的“启点-zswitch”系列通信产品：数字程控交换机IPPBX、呼叫中心系统、电话营销CRM、电话会议系统、网络电子传真群发系统、语音催费查询系统等，特别是针对保险行业开发的呼叫中心系统、电力催费系统在实际应用中取得了良好的社会效益。</p>
			</div>
          <div class="col-sm-4">
            <figure><img src="__PUBLIC__/images/art/about.jpg" alt="" /></figure>
          </div>
        </div>
        <div class="divide60"></div>
        <div class="row">
          <div class="col-sm-4">
            <div class="section-title">
              <h3>我们的客户</h3>
            </div>
            <p>我们的客户都是……</p>
            <div class="divide10"></div>
            <ul class="progress-list">
              <li>
                <p>客户续约率<em>100%</em></p>
                <div class="progress plain">
                  <div class="bar" style="width: 100%;"></div>
                </div>
              </li>
              <li>
                <p>客户满意度<em>95%</em></p>
                <div class="progress plain">
                  <div class="bar" style="width: 95%;"></div>
                </div>
              </li>
              <li>
                <p>客户增长率 <em>80%</em></p>
                <div class="progress plain">
                  <div class="bar" style="width: 80%;"></div>
                </div>
              </li>
         
            </ul>
            <!-- /.progress-list --> 
          </div>
          <div class="col-sm-4">
            <div class="section-title">
              <h3>为什么选择我们</h3>
            </div>
            <div class="divide5"></div>
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> <a data-toggle="collapse" class="panel-toggle active" data-parent="#accordion" href="#collapseOne"> 百分之百的反馈 </a> </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda et.</div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> <a data-toggle="collapse" class="panel-toggle" data-parent="#accordion" href="#collapseTwo"> 上百家客户证明</a> </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> <a data-toggle="collapse" class="panel-toggle" data-parent="#accordion" href="#collapseThree"> 领先的技术优势</a> </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                  <div class="panel-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="section-title">
              <h3>合作流程</h3>
            </div>
            <div class="services-2">
              <div class="row">
                <div class="col-sm-12">
                  <div class="bm20">
                    <div class="icon"> <i class="budicon-camera-1 icn"></i> </div>
                    <!-- /.icon -->
                    <div class="text">
                      <h4>商业洽谈</h4>
                      <p>Nulla vitae libero, a pharetra augue. Integer posuere a ante venenatis condimentum. Donec id elit non.</p>
                    </div>
                    <!-- /.text --> 
                  </div>
                  <!-- /.div -->
                  <div class="bm20">
                    <div class="icon"> <i class="budicon-video-1 icn"></i> </div>
                    <!-- /.icon -->
                    <div class="text">
                      <h4>系统安装</h4>
                      <p>Nulla vitae libero, a pharetra augue. Integer posuere a ante venenatis condimentum. Donec id elit non.</p>
                    </div>
                    <!-- /.text --> 
                  </div>
                  <!-- /.div -->
                  <div class="bm20">
                    <div class="icon"> <i class="budicon-radio icn"></i> </div>
                    <!-- /.icon -->
                    <div class="text">
                      <h4>售后服务</h4>
                      <p>Nulla vitae libero, a pharetra augue. Integer posuere a ante venenatis condimentum. Donec id elit non.</p>
                    </div>
                    <!-- /.text --> 
                  </div>
                  <!-- /.div --> 
                </div>
                <!-- /.col-sm-12 --> 
              </div>
              <!-- /.row --> 
            </div>
            <!-- /.col-services --> 
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- /#about -->
  
  <div class="parallax parallax4 facts">
    <div class="container inner">
      <div class="row text-center services-3">
        <div class="col-sm-3">
          <div class="col-wrapper">
            <div class="icon-border bm10"> <i class="budicon-video-2"></i> </div>
            <h4>7518</h4>
            <p>Shots Taken</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="col-wrapper">
            <div class="icon-border bm10"> <i class="budicon-coffee"></i> </div>
            <h4>3472</h4>
            <p>Cups of Coffee</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="col-wrapper">
            <div class="icon-border bm10"> <i class="budicon-video"></i> </div>
            <h4>2184</h4>
            <p>Movies Watched</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="col-wrapper">
            <div class="icon-border bm10"> <i class="budicon-award-1"></i> </div>
            <h4>4523</h4>
            <p>Awards Won</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.parallax -->
  
  <div id="pricing" class="section anchor">
    <div class="light-wrapper">
      <div class="container inner">
        <h2 class="section-title text-center">合作加盟</h2>
        <p class="lead main text-center">我们提供不同的合作方式，让客户选择最划算的使用形式</p>
        <div class="pricing row">
          <div class="col-sm-3">
            <div class="plan">
              <h3>试用申请</h3>
              <h4><span class="amount"><span>$</span>3</span></h4>
              <div class="features">
                <ul>
                  <li>3 Days</li>
                  <li>2GB Storage</li>
                  <li>25 Users</li>
                  <li>Unlimited Pages</li>
                  <li>Enhanced Security</li>
                </ul>
              </div>
              <div class="select">
                <div> <a href="#" class="btn inverse">Select Plan</a> </div>
              </div>
            </div>
          </div>
          <!-- /.col-sm-3  -->
          <div class="col-sm-3">
            <div class="plan">
              <h3>租用系统</h3>
              <h4><span class="amount"><span>$</span>10</span></h4>
              <div class="features">
                <ul>
                  <li>7 Days</li>
                  <li>2GB Storage</li>
                  <li>25 Users</li>
                  <li>Unlimited Pages</li>
                  <li>Enhanced Security</li>
                </ul>
                <div class="select">
                  <div> <a href="#" class="btn inverse">Select Plan</a> </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.col-sm-3  -->
          <div class="col-sm-3">
            <div class="plan">
              <h3>购买系统</h3>
              <h4><span class="amount"><span>$</span>20</span></h4>
              <div class="features">
                <ul>
                  <li>30 Days</li>
                  <li>2GB Storage</li>
                  <li>25 Users</li>
                  <li>Unlimited Pages</li>
                  <li>Enhanced Security</li>
                </ul>
                <div class="select">
                  <div> <a href="#" class="btn inverse">Select Plan</a> </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.col-sm-3  -->
          <div class="col-sm-3">
            <div class="plan">
              <h3>诚招代理</h3>
              <h4><span class="amount"><span>$</span>30</span></h4>
              <div class="features">
                <ul>
                  <li>120 Days</li>
                  <li>2GB Storage</li>
                  <li>25 Users</li>
                  <li>Unlimited Pages</li>
                  <li>Enhanced Security</li>
                </ul>
                <div class="select">
                  <div> <a href="#" class="btn inverse">Select Plan</a> </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.col-sm-3  --> 
        </div>
        <!-- /.pricing  --> 
      </div>
    </div>
  </div>
  <div class="parallax parallax3 customers">
    <div class="container inner text-center">
      <div class="testimonials owl-carousel thin">
        <div class="item">
          <blockquote>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam dolor nibh ultricies vehicula ut id elit vulputate Tristique Egestas.<small>Nikolas Brooten</small></p>
          </blockquote>
        </div>
        <div class="item">
          <blockquote>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod.<small>Coriss Ambady</small></p>
          </blockquote>
        </div>
        <div class="item">
          <blockquote>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis id vestibulum. Donec sed odio dui. Sed posuere consectetur est at lobortis.<small>Barclay Widerski</small></p>
          </blockquote>
        </div>
        <div class="item">
          <blockquote>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet.<small>Elsie Spear</small></p>
          </blockquote>
        </div>
      </div>
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.parallax -->
  <div id="contact" class="section anchor">
    <div class="dark-wrapper">
      <div class="container inner">
        <div class="thin text-center">
          <h2 class="section-title text-center">联系我们</h2>
          <p class="lead main text-center">如有任何疑问或需求，随时和我们取得联系</p>
          <ul class="contact-info">
            <li><i class="icon-location"></i>四川省成都市高新区美年广场2期1703 1704 </li>
            <li><i class="icon-phone"></i>028-69686996</li>
            <li><i class="icon-mail"></i>zswitch@163.com</li>
          </ul>
          <div class="divide50"></div>
          <div class="form-container">
		  <div class="h_res"><div class="response alert alert-success"></div></div>
            <form class="forms" action="__MODULE__/Apply/add" method="post">
              <fieldset>
                <ol class="row">
                  <li class="form-row text-input-row name-field col-sm-4">
                    <input type="text" name="name" class="text-input defaultText required name" title="姓名(必须)"/>
                  </li>
				  <li class="form-row text-input-row email-field col-sm-4">
                    <input type="text" name="phone" class="text-input defaultText required phone" title="电话(必须)"/>
                  </li>
                  <li class="form-row text-input-row email-field col-sm-4">
                    <input type="text" name="email" class="text-input defaultText required email" title="邮箱(必须)"/>
                  </li>
                  <li class="form-row text-area-row col-sm-12">
                    <textarea name="content" class="text-area required content" title="你的信息"></textarea>
                  </li>
                  <li class="button-row">
                    <input type="button" value="提交信息" class="btn btn-submit submit" />
                  </li>
                </ol>
               <!--<input type="hidden" name="v_error" id="v-error" value="Required" />
                <input type="hidden" name="v_email" id="v-email" value="Enter a valid email" />-->
              </fieldset>
            </form>
          </div>
          <!-- /.form-container -->
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
     
  </div>

  <!-- /#contact -->
  <include file="footer" />
</body>
</html>
  <script>

$('.submit').click(function(){ 
    var name = $('.name').val();
	var phone = $('.phone').val();
	var email = $('.email').val();
	var content = $('.content').html();
	var flag = false;
	$('.required').each(function(){
	    if($(this).val() == $(this).attr('title') || $(this).html() == $(this).attr('title')){
		    show($(this).attr('title'));
  			flag = true;
			return false;
		}
	});
	if(flag == true){
	   return  false;
	}
	$.ajax({
		type:"POST",
		url:"__ROOT__/Apply/add",
		data:{name:name,phone:phone,email,email,content:content},
		success:function(data){
		    if(data['status'] == 1){
			   show(data['msg'],true);
			   $('.required').each(function(){
			      $(this).html($(this).attr('title'));
				   $(this).val($(this).attr('title'));
			   });
			}else{
			    show(data['msg'],false);
			}
		}
	});
});

function show(info,flag=false){

   var color = flag == false? 'red':'green';
   var place = $('.alert-success');
   place.html(info);
   place.css('color',color).show();
   place.fadeOut(3000);
}
</script>