<!DOCTYPE HTML>
<html>
<head>
</head>
<frameset cols="260,*" cols="*" frameborder="no" border="0" framespacing="0">
  <frame src="__MODULE__/Base/left" name="topFrame" scrolling="no">
  <frameset rows="180,*" name="btFrame" frameborder="no" border="0" framespacing="0">
    <frame src="__MODULE__/Base/head" noresize name="menu" scrolling="yes">
    <frame src="__MODULE__/Info/index1" noresize name="main" scrolling="yes">
  </frameset>
</frameset>
<noframes>
	<body>您的浏览器不支持框架！</body>
</noframes>
</html>
